/*eyes on psd navigation- all on except footer-livechat_new*/
/*eyes on psd cover bg on template grid- all on*/
/*eyes on psd layer 364*/

@media (min-width: 960px) {
	.rectangle {
		width: 960px;
		height: 100%;
	}
	.jumbotron {
		width: 960px;
		height: 475px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    }

body {
	padding-top: 2%;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

#rectangle {
	background: url('../images/bg-rectangle.png') no-repeat 50% 50%;
	background-size: contain;
	max-width: 960px;
	width: 960px;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.nav-buttons > div {
/*	display: block;*/
	width: auto;
	height: auto;
/*	margin-left: .5%;*/
}

.nav-buttons > div img {
	display: inline;
	max-height: 100%;
/*	max-width: 50%;*/
}

.phone-number {
	max-height: 60%;
	max-width: 60%;
	float: right;
}

.logo {
	margin-top: 0;
	padding-bottom: 10px;
	background-size: contain;
}

.jumbotron {
 	padding-top: 0% !important;
	max-width: 960px;
	width: 100%;
	background-color: transparent !important;
	background: url('../images/bg-hero.png') no-repeat 50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	border-radius: 0 !important;
/* 	float: none;*/
 	margin: 0px auto;
 	position: relative;
}

.image-container {
	float: left; 
	height: 400px;
	overflow: auto;
	position: absolute;
/*	display: inline-block;*/
}

.image-container img {
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.products {
	max-width: 70%;
	padding-top: 75%;
}

.free-gift {
	max-width: 35%;
}

#quote {
	background: url('../images/bg-quote.png') no-repeat 50% 50%; 
	background-size: contain;
	height: 100%;
	width: 50%;
	vertical-align: middle;
}

#quote img {
	display: block;
	margin-left: auto;
	padding-top: 50%;
	margin-right: auto;
	max-height: 65%;
	max-width: 65%;
	vertical-align: middle;
}
